/* UFO & caption */
#icon-container img {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 0 10px lime);
}

/* CSS2D labels */
.label {
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
  font-family: 'Induction', sans-serif;
  font-size: 0.9rem;
  pointer-events: none; /* so clicks pass through to planet */
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
